<a href="https://colab.research.google.com/github/LeahN67/Data-Mining/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***BEGINNER'S PYTHON TUTORIAL ***

**INTEGER VALUES**

In [80]:
1 + 2 + 4 + 10 + 3
print(1 + 2 + 4 + 10 + 3)
print(10)
print("10")
print('10')
print("Amir")
print('Amir')
# print(Amir)---> Error
print(type(4))
print(type("4"))
print(str(4))
print(int('5'))
# int("Hi")---> Error
print('5' + "10")
print('abc' + 'efg')
# print(5 + '10') ---> Error
print(2 + int('11'))

20
10
10
10
Amir
Amir
<class 'int'>
<class 'str'>
4
5
510
abcefg
13

**VARIABLES & ASSIGNMENTS**

In [81]:

x = 2
print(x)
print('x')
# 5 = x
print('x = ' + str(x))
x = 20
print('x = ' + str(x))
x , y, z = 20, 40, -30
print('x =', x, ' y =', y, ' z =', z)
a = 1
print('First, variable a has value', a, 'and type', type(a))
a = 'abc'
print('Now, variable a has value', a, 'and type', type(a))

2
x
x = 2
x = 20
x = 20  y = 40  z = -30
First, variable a has value 1 and type <class 'int'>
Now, variable a has value abc and type <class 'str'>

**FLOATING POINT TYPES**

In [82]:
x = 5.62
print(type(x))
pi = 3.14159
print("Pi =", pi)
print("or", 3.14, "short")
avogadros_number = 6.022e23
c = 2.998e8
print("Avogadro's number =", avogadros_number)
print("Speed of light =", c)

<class 'float'>
Pi = 3.14159
or 3.14 short
Avogadro's number = 6.022e+23
Speed of light = 299800000.0

**CONTROL CODES WITHIN CODES**

In [83]:
print('A\nB\nC')
print('D\tE\tF')
print('WX\bYZ') #---> Backspace
print('1\a2\a3\a4\a5\a6') #---> Alert
print("Did you know that 'word' is a word?")
print('Did you know that "word" is a word?')
print('Did you know that \'word\' is a word?')
print("Did you know that \"word\" is a word?")
filename = 'C:\\Users\\rick'
print(filename)

A
B
C
D	E	F
WXYZ
123456
Did you know that 'word' is a word?
Did you know that "word" is a word?
Did you know that 'word' is a word?
Did you know that "word" is a word?
C:\Users\rick

**USER INPUT**

In [84]:
print('Please enter your First Name: ')
x = input()
print('Text entered:', x)
print('Type:', type(x))
print('Please enter an integer value:')
x = input()
print('Please enter another integer value:')
y = input()
w, x, y, z = 10, 15, 20, 25
print(w, x, y, z)
print(w, x, y, z, sep=',')
print(w, x, y, z, sep='')
print(w, x, y, z, sep=':')
print(w, x, y, z, sep='-----')

Please enter your First Name:
Leah
Text entered: Leah
Type: <class 'str'>
Please enter an integer value:
P
Please enter another integer value:
N
10 15 20 25
10,15,20,25
10152025
10:15:20:25
10-----15-----20-----25

**EXPRESSIONS**

In [86]:
x, y, z = 3, -4, 0
print(x,y,z)
x = -x
y = -y
z = -z
print(x, y, z)
x = +y
print(x)
print(10/3, 3/10, 10//3, 3//10)
print(10%3, 3%10)

3 -4 0
-3 4 0
4
3.3333333333333335 0.3 3 0
1 3

**ARITHMETIC EXAMPLES**

In [88]:
degreesF = eval(input('Enter the temperature in degrees F: '))
# Perform the conversion
degreesC = 5/9*(degreesF - 32)
# Report the result
print('temperature in degrees C: ', degreesC)

Enter the temperature in degrees F: 234
temperature in degrees C:  112.22222222222223